{
	//Numbers lower than this work, higher will not, because the current max experienceorb count is 100 million
	//To raise this value you must change it here and in "currencies.config", then use the formula "maxLevel^2*100" to know the number to set where maxExperienceOrbs is used. (experienceorb.currency.patch, this file, currencies.config)
	//If you want to limit the max level, just change the variables here, also make sure your mod loads after this one.
	"maxLevel" : 4630,
	"maxExperienceOrbs" : 2143690000, //I used max 32 bit integer limit, Starbound probably uses double for numbers so it can be a lot higher, or if using 64bit starbound
	"minMasteryExperience" : 250000, //250000 is level 50, experience will be set to this value after refining over-experience
	"maxMastery" : 214344,
	"maxStat" : 102887, //max total statpoints 720213,
	"maxLevelStep" : 1,
	
	//For the pressing of the stat point arrows
	"maxAllocatablePoints": 100,
	"pointsStep" : 1
}